<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		{{content_for_header}}
		{{ 'main.css'  | asset_url | stylesheet_tag }}
		{{ 'editor.css'  | asset_url | stylesheet_tag }}
	</head>
	<body>
		{% sections 'header-group' %}
		<header>
			Logo 1
			Navigation
			Cart
		</header>
		<main>{{content_for_layout}}</main>
		<footer>Footer</footer>
	</body>
</html>